.mono {
  font-family: 'Space Mono', monospace;
}

.amatic {
  font-family: 'Amatic SC', cursive;
}

#events {
  background-image: url(../images/background/green_leaves.jpg);
}

@media only screen and (min-width: 41em) {
  #about {
    background-image: url(../images/background/sydney_opera_house.jpg);
  }

  #contact {
    background-image: url(../images/background/guitar_player_silhouette.jpg);
  }
}
